/EP-02/nbproject/private/
/EP-02/build/
/EP-02/dist/
/JavaApplication7/nbproject/private/
/StellarBattle/nbproject/private/
/StellarBattle/build/
/StellarBattle1/nbproject/private/
/test/nbproject/private/
/teste/nbproject/private/
/teste/build/
/teste/dist/
/lerArquivos/nbproject/private/
/lerArquivos/build/